@use './import' as *;


.magazine{
	.magazineBox{
		&__list{
			&__item{
				padding-bottom: 60px;
				margin-bottom: 60px;
				border-bottom: 1px solid $font-color-gray;;
				a{
					display: flex;
					justify-content: space-between;
					gap: 40px;
				}
				&__con{
					&--left{
						.num{
							color: $font-color-gray;
							font-size: 16px;
							font-weight: 500;
						}
						.tit{
							font-size: 24px;
							font-weight: 600;
							margin-top: 12px;
						}
						.hash{
							margin-top: 24px;
							display: flex;
							gap: 8px;
							flex-wrap: wrap;
							li{
								text-align: center;
								box-sizing: border-box;
								border: 1px solid #ddd;
								font-size: 16px;
								font-weight: 500;
								padding: 12px 16px;
								border-radius: 50px;
							}
						}
					}
					&--right{
						.img-box{
							width: 560px;
							height: 320px;
							overflow: hidden;
							img{
								width: 100%;
								height: 100%;
								object-fit: cover;
								transition: all .3s linear;
							}
							&:hover {
								img {
									transform: scale(1.1);
								}
							}
						}
					}
				}
			}
		}
		&__view{
			padding-top: 65px;
			&__info{
				padding: 80px 0;
				.tit{
					font-size: 32px;
					font-weight: 600;
					text-align: center;
				}
				.hash{
					margin-top: 24px;
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 12px;
					li{
						font-size: 16px;
					}
				}
			}
			&__infoFix{
				padding: 18px 60px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				&__left{
					display: flex;
					gap: 12px;
					.vol{
						font-size: 17px;
						font-weight: 500;
					}
					.date{
						font-size: 17px;
						color: $font-color-gray;
					}
				}
				&__right{
					.listBtn{
						display: block;
						font-size: 17px;
						font-weight: 500;
						padding-right: 24px;
						
						background-image: url('/static/front/images/common/ico_list_btn.png');
						background-position: right center;
						background-size: 20px;
						background-repeat: no-repeat;
					}
				}
				&.fixed{
					& + .magazineBox__view__con{
						padding: 156px 0 160px;
					}
				}
			}
			&__con{
				background-color: #F4F4F5;
				padding: 100px 0 160px;
				&__img{max-width: 800px; margin: auto;}
				&__topBtn{
					margin: 120px auto 0;
					width: 56px;
					height: 56px;
					border-radius: 56px;
					background-color: $font-color-default;
					button{
						width: 100%;
						height: 100%;
						display: flex;
						align-items: center;
						justify-content: center;
					}
					img{width: 24px;}
				}
			}
		}
	}
}

/* 1025 ~ 1279 */
@include tablet-landscape {}

/* 768 ~ 1024 */
@include tablet {
	.magazine{
		.magazineBox{
			&__list{
				&__item{
					&__con{
						&--left{
							.num{
								font-size: 14px;
							}
							.tit{
								font-size: 22px;
								margin-top: 8px;
							}
							.hash{
								li{
									font-size: 13px;
									padding: 10px 14px;
								}
							}
						}
						&--right{
							.img-box{
								width: 448px;
								height: 256px;
							}
						}
					}
				}
			}
			&__view{
				&__con{
					&__img{max-width: 600px;}
				}
			}
		}
	}
}
	
/*  ~ 767 */
@include mobile {
	.magazine{
		.magazineBox{
			&__list{
				&__item{
					a{
						flex-direction: column-reverse;
						gap: 20px;
					}
					&__con{
						&--left{
							.num{
								font-size: 14px;
							}
							.tit{
								font-size: 22px;
								margin-top: 8px;
							}
							.hash{
								li{
									font-size: 13px;
									padding: 10px 14px;
								}
							}
						}
						&--right{
							.img-box{
								width: 100%;
								height: 191px;
							}
						}
					}
				}
			}

			&__view{
				&__infoFix{padding: 15px 20px;
					&__left{
						.vol,
						.date{font-size: 14px;}
					}
					&__right{
						.listBtn{
							font-size: 15px;
							padding-right: 0;
							background: none;
						}
					}
					
					&.fixed{
						& + .magazineBox__view__con{
							padding: 48px 0 80px;
						}
					}
				}
				&__con{padding: 0 0 80px;
					&__img{max-width: none;}
					&__topBtn{
						width: 48px;
						height: 48px;
						margin: 40px auto 0;
					}
				}
			}
		}
	}
}