@use './import' as *;

.mainBox {
	
	min-height: 100dvh;
	@include fadeIn(0.5s, 1s, linear);
	&:not(:has(.swiper)) {
		.mainBox__visual{
			&:has(.noFixed){
				position: relative;
			}
		}
		.mainBox__visual__title {
			position: fixed;
			top: 144px;
			left: 13%;
			z-index: 1;
			transition: all .15s linear;
			&.active{
				
				.tit{
					@include fadeInMove('right', 0.5s, 1.3s, 30px, linear);
				}
				.pageNum{
					@include fadeInMove('right', 0.5s, 1.5s, 30px, linear);
				}
			}
			& + .mainBox__visual__con{
				
				&.active{
					.mainBox__visual__con__img{
						@include fadeIn(0.5s, 1s, linear);
					}
					.mainBox__visual__con__desc{
						.volumeNum{
							@include fadeInMove('left', 0.5s, 1.5s, 30px, linear);
						}
						.desc{
							@include fadeInMove('left', 0.5s, 1.7s, 30px, linear);
						}
					}
				}
			}

			.tit {
				font-size: 64px;
				font-weight: 600;
			}

			.pageNum {
				margin-top: 32px;

				span {
					font-size: 22px;
					font-weight: 600;

					&:not(.on) {
						opacity: 0.4;
					}

					&.slash {
						margin: 0 4px;
					}
				}
			}

		}

		.mainBox__visual__con {
			position: sticky;
			top: 0;
			height: 170dvh;

			&Sticky {
				position: sticky;
				top: 0;
				min-height: 100dvh;
				margin: auto;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			&.active{
				.mainBox__visual__con__img{
					 @include fadeIn(0.5s, 0s, linear);
				}
				.mainBox__visual__con__desc{
					.volumeNum{
						@include fadeInMove('left', 0.5s, 0.2s, 30px, linear);
					}
					.desc{
						@include fadeInMove('left', 0.5s, 0.4s, 30px, linear);
					}
				}
			}

			&__img {
				overflow: hidden;
				display: inline-block;
				font-size: 0;
				max-width: 576px;

				a {
					display: block;
				}

				&:hover {
					img {
						transform: scale(1.1);
					}
				}

				img {
					transition: all .3s linear;
				}
			}

			&__desc {
				position: absolute;
				bottom: 260px;
				max-width: 420px;
				right: 7%;
				text-align: left;
				transition: all .15s linear;


				.volumeNum {
					font-size: 24px;
					font-weight: 600;
				}

				.desc {
					margin-top: 24px;
					font-size: 36px;
					font-weight: 600;
				}
			}

			&[data-whitemode=true] {
				color: $font-color-white;
			}
		}

		.mainBox__visual__viewAllBtn {
			position: fixed;
			bottom: 30px;
			left: 50%;
			transform: translateX(-50%);
			z-index: 1;
			transition: all .15s linear;
			&.noFixed{
				position: absolute;
				bottom: 30px;
			}
			a {
				font-size: 20px;
				font-weight: 500;
				display: flex;
				align-items: center;
				justify-content: space-between;
				gap: 18px;

				span {
					position: relative;
					&.white{
						&::before,
						&::after {background-color: $font-color-white;}
					}
					&::before,
					&::after {
						content: '';
						display: inline-block;
						width: 13px;
						height: 1px;
						background-color: $font-color-default;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						transition: all .15s linear;
					}

					&::before {
						transform: translate(-50%, -50%) rotate(90deg);
					}
				}
			}
		}
	}

}

/* 1025 ~ 1279 */
@include tablet-landscape {
	.mainBox:not(:has(.swiper)) .mainBox__visual__title {
		left: 6%;
	}

	.mainBox:not(:has(.swiper)) .mainBox__visual__con__desc {
		right: 2%;
		width: 280px;
	}
}

/* 768 ~ 1024 */
@include tablet {
	.mainBox {
		&:not(:has(.swiper)) {
			.mainBox__visual__title {
				left: 10%;

				.tit {
					font-size: 40px;
				}

				.pageNum {
					margin-top: 20px;

					span {
						font-size: 18px;
					}
				}

			}

			.mainBox__visual__con {
				&__desc {
					bottom: 220px;
					width: 265px;
					right: 5%;

					.volumeNum {
						font-size: 16px;
					}

					.desc {
						margin-top: 16px;
						font-size: 28px;
					}
				}

				&__img {
					width: 360px;
				}
			}
		}
	}
}

/*  ~ 767 */
@include mobile {
	.mainBox {
		&__visual {
			height: 100dvh;
			position: relative;

			.swiper {
				height: 100%;
			}

			&__title {
				position: absolute;
				top: 471px;
				left: 0;
				right: 0;
				margin: auto;
				z-index: 2;
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 0 24px;
				box-sizing: border-box;

				.tit {
					color: $font-color-white;
					font-size: 16px;
					font-weight: 500;
					&.ani{opacity: 1;}
				}

				.pageNum {
					color: $font-color-white;
					font-size: 16px;
					font-weight: 600;
					display: flex;
					align-items: center;
					gap: 6px;
					&.ani{opacity: 1;}

					span {
						&:not(.on) {
							opacity: 0.4;
						}
					}
				}
			}

			&__con {
				padding-top: 55px;
				height: 100%;

				&[data-whitemode=true] {
					color: $font-color-white;
				}

				&__img {
					height: 468px;
					display: flex;
					justify-content: center;
					align-items: center;
					overflow: hidden;
					&.ani{opacity: 1;}

					a {
						width: 100%;
						height: 100%;
						display: flex;
						justify-content: center;
						align-items: center;

						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}

				}

				&__desc {
					padding: 32px 24px;
					display: flex;
					flex-direction: column;
					gap: 12px;

					.volumeNum {
						font-size: 14px;
						font-weight: 600;
						
						&.ani{opacity: 1;}
					}

					.desc {
						font-weight: 600;
						font-size: 28px;
						
						&.ani{opacity: 1;}
					}
				}
			}
		}
	}
}