

@mixin tablet-landscape {
	@media (max-width: 1279px) and (min-width: 1025px) {
		@content;
	}
}

@mixin tablet {
	@media (max-width: 1024px) and (min-width: 768px) {
		@content;
	}
}


@mixin mobile {
	@media (max-width: 767px) {
		@content;
	}
}


@mixin brBlock {
	.pcBlock {
		display: block;
	}

	.tabletLanBlock {
		display: none;
	}

	.tabletBlock {
		display: none;
	}

	.moBlock {
		display: none;
	}

	@media (max-width: 1279px) and (min-width: 1025px) {

		.pcBlock {
			display: none;
		}

		.tabletLanBlock {
			display: block;
		}

		.tabletBlock {
			display: none;
		}

		.moBlock {
			display: none;
		}
	}

	@media (max-width: 1024px) and (min-width: 768px) {

		.pcBlock {
			display: none;
		}

		.tabletLanBlock {
			display: none;
		}

		.tabletBlock {
			display: block;
		}

		.moBlock {
			display: none;
		}
	}

	@media (max-width: 767px) {

		.pcBlock {
			display: none;
		}

		.tabletLanBlock {
			display: none;
		}

		.tabletBlock {
			display: none;
		}

		.moBlock {
			display: block;
		}

		.moNone {
			display: none;
		}
	}
}


@mixin ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@mixin customScroll {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  scrollbar-gutter: stable;

  transition: all 0.3s linear;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  &:hover {
    scrollbar-width: thin;
    scrollbar-color: #888 #eee;
  }

  &:hover::-webkit-scrollbar {
    opacity: 1;
  }

  &:hover::-webkit-scrollbar-track {
    background: #eee;
  }
}
