* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
}

html,
body {
	width: 100%;
	font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
	font-weight: 400;
	font-size: 14px;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	color: inherit;
}

p {
	word-break: keep-all;
}

ul,
ol,
li {
	list-style: none;
}

button {
	border: none;
	background: none;
	cursor: pointer;
	font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
}
